/* Responsive styles Breakpoints: 320px, 480px, 768px, 1024px, and 1200px */

@media screen and (max-width: 320px) {

    /* nav and banner section style start */
    nav,
    .nav-list {
        flex-direction: column;
        gap: 10px;
    }

    .banner-content {
        text-align: center;
    }

    .banner-title {
        font-size: 2rem;
        font-weight: 700;
        line-height: 50px;
    }

    .banner {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .banner-img {
        width: 100%;
        height: 100%;
        background-image: none;
    }

    /* nav and banner section style end */

    /* sponsor section style start */

    .sponsors {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 20px;
    }

    .sponsor-img-7 {
        grid-column: span 2;
    }


    /* sponsor section style end */




}

@media screen and (min-width: 321px) and (max-width: 480px) {

    nav,
    .nav-list {
        flex-direction: column;
        gap: 10px;
    }

    .banner-content {
        text-align: center;
    }

    .banner-title {
        font-size: 2rem;
        font-weight: 700;
        line-height: 50px;
    }

    .banner {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .banner-img {
        width: 100%;
        height: 100%;
        background-image: none;
    }

    /* sponsor section style start */

    .sponsors {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 20px;
    }

    .sponsor-img-7 {
        grid-column: span 2;
    }


    /* sponsor section style end */
}

@media screen and (min-width: 481px) and (max-width: 768px) {

    nav,
    .nav-list {
        flex-direction: column;
        gap: 10px;
    }

    .banner-content {
        text-align: center;
    }

    .banner-title {
        font-size: 3rem;
    }

    .banner {
        flex-direction: column-reverse;
        gap: 20px;
    }

    /* sponsor section style start */

    .sponsors {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        gap: 20px;
    }

    .sponsor-img-7 {
        grid-column: span 3;
    }

    /* sponsor section style end */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    nav,
    .nav-list {
        justify-content: space-around;
        gap: 10px;
    }

    .banner-content {
        text-align: center;
    }

    .banner {
        flex-direction: column;
        gap: 50px;
    }

    /* sponsor section style start */

    .sponsors {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        gap: 20px;
    }

    .sponsor-img-7 {
        grid-column: span 3;
    }

    /* sponsor section style end */
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {

    nav,
    .nav-list {
        justify-content: space-around;
    }

    .banner {
        gap: 20px;
        justify-content: space-between;
    }

    .banner-content {
        width: 50%;
    }
}